@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&family=Questrial&family=Quicksand:wght@400;500;600;700&family=Sniglet&display=swap');

:root{
    --title-font-size:25px;
    --task-list-font-size:23px;

    --checkbox-size: 18px;

    --task-list-width:500px;
    --task-list-height:400px;

    --header-bg-color:rgba(0,0,0,0.9);
    --task-bg-color:rgba(0,0,0,0.7);
    --check-box-bg-color:rgba(0,0,0,0.8);
}

* {
    margin:0;
    padding:0;
}

body {
    width:100%;
    height:100%;

    background-color:gray;
}

#tasks-list-div {
    width:var(--task-list-width);
    background-color:rgba(0,0,0,0);
    color:white;

    /* border:solid 1px white; */

    border-radius:10px;
}

#counters {
    font-family:'Fredoka One', sans-serif;
    font-size:var(--title-font-size);

    background-color:var(--header-bg-color);

    border-radius:7px;

    padding: 10px;
}

#task-list{
    font-family: 'Quicksand', sans-serif;
    font-size:var(--task-list-font-size);
    list-style-type:none;
    
    padding:10px;
}

.inner-container {
    height:var(--task-list-height);
    
    
    /* for auto-scrolling to work */
    position:relative;
    top:0;
}

.outer-container {
    z-index:-1;
    /* for auto-scrolling to work */

    overflow-y:hidden;
}

.check-container {
    display: block;
    position: relative;
    padding: 5px 5px 5px 35px;

    background-color: var(--task-bg-color);

    border-radius:5px;
    
    margin-bottom: 12px;
    /* cursor: pointer; */
    font-size: 23px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);

    left: 1%;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: var(--check-box-bg-color);
    border:solid 2px white;
    border-radius:5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 35%;
    top: 15%;
    width: calc(var(--checkbox-size) / 5);
    height: calc(var(--checkbox-size) / 2);
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.username {
    font-weight:bolder;
}